/*
  general style
*/

body{
    /*background: url("../../img/label.png") no-repeat 50% 50%;*/
    background-size: 120%;
}

.toolbar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background: #7d7e7d;
    border-bottom: #0e0e0e;
    cursor: pointer;
}

.closeWindow {
    cursor: pointer;
    position: absolute;
    margin: 5px 0 0 15px;
    width: 30px;
    height: 25px;
    -webkit-app-region: no-drag;
}

.errorMessage {
    position: absolute;
    top: 40px;
    left: 270px;
    height: 38px;
}

.none{
    display: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8a2be2;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #8a2be2;
}





