/*
  general style
*/

body{
    /*background: url("../../img/label.png") no-repeat 50% 50%;*/
    background-size: 120%;
}

.toolbar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 32px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background: #7d7e7d;
    cursor: pointer;
}

.closeWindow {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 5px 0 0 0;
    width: 30px;
    height: 25px;
    -webkit-app-region: no-drag;
}

.errorMessage {
    position: absolute;
    top: 40px;
    left: 270px;
    height: 38px;
}

.none{
    display: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8a2be2;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #8a2be2;
}

/*
  start
*/

.wrapTile{
    width: 500px;
    margin: 0px auto;
    padding-top: 100px;
}

/*
 settings page
 */

.table textarea{
    resize: none;
    overflow: hidden;
}

/*
go
*/
.wrapTransformControl span{
    margin-right: 15px;
}

.wrapTransformControl > button{
    margin-left: 35px;
}

.changeDirection {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    display: inline-block;
}

.wrapTextArea{
    border: 1px solid #dcdcdc;
    padding-right: 10px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.wrapTextArea:hover{
    border: 1px solid #8a2be2;
}

.wrapTextArea textarea {
    width: 100%;
    height: 175px;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    background: white;
    box-shadow: none;
}

.wrapTextArea textarea:focus, .wrapTextArea textarea:hover{
    border: none;
    -webkit-box-shadow: none;
}

.tools {
    position: absolute;
    bottom: 0px;
    height: 25px;
    width: 100%;
    padding-left: 25px;
}

.tools span {
    margin-left: 15px;
    cursor: pointer;
}





